
DendroPy==4.4
adjustText==0.7.3
biopython==1.72
cycler==0.10
decorator==4.3.2
graphviz==0.10.1
kiwisolver==1.0.1
matplotlib==3.0.3
networkx==2.2
numpy==0.24.1
pip==9.0.1
pyparsing==2.3.1
dateutil==2.8.0
pytz==2018.9
scipy==1.2.1
seaborn==0.9.0
setuptools==65.5.1
six==1.12.0